<div>
    <h2> All cars </h2>
</div>

<h2>@Model.CurrentCategory</h2>

@{ 
    foreach(var car in Model.Cars)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="@car.ImageThumbnailUrl" alt="" />
                <div class="caption">
                    <h3 class="pull-right">@car.Price.ToString("c")</h3>
                    <h3>
                        <a>@car.Name</a>
                    </h3>
                    <p>@car.ShortDescription</p>
                </div>
            </div>
        </div>
    }

}
